<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanxml.mybatis.train.dynamic.sql.dao.UserDao">

<resultMap id="userMap" type="com.yanxml.mybatis.train.dynamic.sql.bean.User">
	<id property="id" column="id"/>
	<result property="name" column="name"/>
	<result property="password" column="password"/>
</resultMap>

	<sql id="queryCondition">
		<where>
			<if test="name != null and name != '' ">
				and name = #{name}
			</if>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
		</where>
	</sql>
	
	<select id="getById" parameterType="integer" resultMap="userMap">
		select * from User where id = #{id}
	</select>
	
	<select id="getList" parameterType="map" resultMap="userMap">
		select * from User
		<include refid="queryCondition"/>
	</select>
	
	<insert id="insert" parameterType="com.yanxml.mybatis.train.dynamic.sql.bean.User">
		<!-- 插入数据后 返回id -->
		<selectKey resultType="Integer"  order="AFTER" keyProperty="id" >
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user(
		name,
		password
		)values(
		#{name},
		#{password}
		)
	</insert>
	
	<update id="update" parameterType="com.yanxml.mybatis.train.dynamic.sql.bean.User">
		update user
		<set>
			password = #{password},
			name =#{name},
		</set>
		<where>
			id = #{id} 
		</where>
	</update>
	
	<delete id="delete" parameterType="integer">
		delete from user where id = #{id}
	</delete>
	
</mapper>